<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style media="screen">
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart_bd {
  max-width: 100%;
  margin: 35px auto;
}
#chart_gender_case {
  max-width: 400px;
  margin: 35px auto;
}
#chart_gender_death {
  max-width: 400px;
  margin: 35px auto;
}

</style>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div id="chart_bd">
</div>

<div id="chart_district">
</div>
<div id="chart_dhaka">

</div>



<div class="container">

  <div class="row">
    <div class="col-sm-6" >
      <div id="chart_gender_case">

      </div>

    </div>
    <div class="col-sm-6" >
      <div id="chart_gender_death">

      </div>

    </div>
  </div>
</div>





<script type="text/javascript">



  var options = {
    series: {{gender_death|safe}},
    chart: {
    width: 380,
    type: 'donut',
    dropShadow: {
      enabled: true,
      color: '#111',
      top: -1,
      left: 3,
      blur: 3,
      opacity: 0.2
    }
  },
  stroke: {
    width: 0,
  },
  plotOptions: {
    pie: {
      donut: {
        labels: {
          show: true,
          total: {
            showAlways: true,
            show: true
          }
        }
      }
    }
  },
  labels: ["Male","Female"],
  dataLabels: {
    dropShadow: {
      blur: 3,
      opacity: 0.8
    }
  },
  fill: {
  type: 'pattern',
    opacity: 1,
    pattern: {
      enabled: true,
      style: ['circles','slantedLines'],
    },
  },
  states: {
    hover: {
      filter: 'none'
    }
  },
  theme: {
    palette: 'palette2'
  },
  title: {
    text: "Bangladesh Gender Wise Case"
  },
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom'
      }
    }
  }]
  };

  var chart = new ApexCharts(document.querySelector("#chart_gender_death"), options);
  chart.render();


</script>



<script type="text/javascript">



  var options = {
    series: {{gender_case|safe}},
    chart: {
    width: 380,
    type: 'donut',
    dropShadow: {
      enabled: true,
      color: '#111',
      top: -1,
      left: 3,
      blur: 3,
      opacity: 0.2
    }
  },
  stroke: {
    width: 0,
  },
  plotOptions: {
    pie: {
      donut: {
        labels: {
          show: true,
          total: {
            showAlways: true,
            show: true
          }
        }
      }
    }
  },
  labels: ["Male","Female"],
  dataLabels: {
    dropShadow: {
      blur: 3,
      opacity: 0.8
    }
  },
  fill: {
  type: 'pattern',
    opacity: 1,
    pattern: {
      enabled: true,
      style: ['verticalLines', 'squares'],
    },
  },
  states: {
    hover: {
      filter: 'none'
    }
  },
  theme: {
    palette: 'palette2'
  },
  title: {
    text: "Bangladesh Gender Wise Case"
  },
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom'
      }
    }
  }]
  };

  var chart = new ApexCharts(document.querySelector("#chart_gender_case"), options);
  chart.render();


</script>



<script type="text/javascript">

  var options = {
    series: [{
      name: "Desktops",
      data: {{area_case|safe}}
  }],
    chart: {
    height: 350,
    type: 'line',
    zoom: {
      enabled: false
    }
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    curve: 'straight',
    colors: ['#E6163B', 'transparent']
  },
  title: {
    text: 'Dhaka district Area Wise Case',
    align: 'left'
  },
  grid: {
    row: {
      colors: ['#E6163B', 'transparent'], // takes an array which will be repeated on columns
      opacity: 0.2
    },
  },
  xaxis: {
    categories: {{dhaka_area|safe}},
  }
  };

  var chart = new ApexCharts(document.querySelector("#chart_dhaka"), options);
  chart.render();


</script>

<script type="text/javascript">


    var options = {
      series: [{
      name: 'bar',
      data: {{district_case|safe}}
    }],
      chart: {
      height: 350,
      type: 'bar',

    },
    plotOptions: {
      bar: {
        dataLabels: {

          position: 'top', // top, center, bottom
        },
        columnWidth: '55%',
        endingShape: 'rounded'

      }
    },
    dataLabels: {
      enabled: true,
      formatter: function (val) {
        return val;
      },
      offsetY: -20,
      style: {
        fontSize: '8px',
        colors: ["#304758"]
      }
    },

    xaxis: {
      categories: {{district|safe}},
      position: 'top',
      axisBorder: {
        show: false
      },
      axisTicks: {
        show: false
      },
      labels: {
          show: true,
          rotate: -90,
          rotateAlways: false
        },
      crosshairs: {
        fill: {
          type: 'gradient',
          gradient: {
            colorFrom: '#D8E3F0',
            colorTo: '#BED1E6',
            stops: [0, 100],
            opacityFrom: 0.4,
            opacityTo: 0.5,
          }
        }
      },
      tooltip: {
        enabled: true,
      }
    },
    yaxis: {
      axisBorder: {
        show: false
      },
      axisTicks: {
        show: false,
      },
      labels: {

        show: false,
        formatter: function (val) {
          return val + "%";
        }
      }

    },
    title: {
      text: 'District Wise Affected Person',
      floating: true,
      offsetY: 330,
      align: 'center',
      style: {
        color: '#444'
      }
    }
    };

    var chart = new ApexCharts(document.querySelector("#chart_district"), options);
    chart.render();



</script>




<script type="text/javascript">
var options = {
          series: [{
          name: 'Case',
          data: {{case|safe}}
        }, {
          name: 'Test Case',
          data: {{test_case|safe}}
        }, {
          name: 'Recovered',
          data: {{recovered|safe}}
        }, {
          name: 'Death',
          data:{{death|safe}}
        }],
          chart: {
          type: 'bar',
          height: 350,
          stacked: true,
          toolbar: {
            show: true
          },

          zoom: {
            enabled: true
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {

            legend: {
              position: 'bottom',
              offsetX: -10,
              offsetY: 0
            }
          }
        }],

        dataLabels: {
            enabled: false,
        },
        plotOptions: {
          bar: {
            horizontal: false,
          },

        },

        xaxis: {
          type: 'datetime',
          categories:{{date|safe}},
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart_bd"), options);
        chart.render();


</script>
